<template>
  <q-page class="flex flex-center">
    <LoginForm class="p-5 bg-white border rounded shadow" />
  </q-page>
</template>

<script>
import LoginForm from 'src/components/LoginForm'

export default {
  name: 'PageIndex',
  components: {
    LoginForm
  }
}
</script>
